.container {
    margin: auto;
    width: 40%;
    height: 450px;
    border: 2px solid blue;
    text-align: center;
}

.containerP {
    height: 100px;
    border: 2px solid blue;
    margin: 5px 0;
}

.board table {
    margin: 0 auto;
}

.board1 th, .board1 td {
    border: 1px solid black;
    padding: 16px;
} 